
#wb_header { height: 130px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 858px; padding-bottom: 40px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; }
#wb_footer { height: 100px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent url("gallery/vintage_footer.jpg") repeat scroll left top; }
html { scroll-behavior: smooth; }
body { background-color: #ffffff; }
body.site:before { background: transparent none no-repeat scroll center top; background-size: auto auto; opacity: 1; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 1200px; min-height: 1088px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1088px; min-height: 1088px; }
#wb_element_instance50 { top: 40px; left: 560px; min-width: 600px; width: 600px; min-height: 54px; height: 54px; display: block; z-index: 621; }
#wb_element_instance50 > ul { display: block; }
#wb_element_instance50 ul { background: transparent none repeat left top; border: 1px none #000000; }
#wb_element_instance50, #wb_element_instance50 ul { text-align: right; }
#wb_element_instance50 ul ul { background: #173963 none repeat left top; }
#wb_element_instance50 li { margin: 10px 0px 10px 0px; }
#wb_element_instance50 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 12px IBM Plex Sans,sans-serif; text-decoration: none; color: #ffffff; line-height: 14px; background: transparent none repeat left top; }
#wb_element_instance50 li.over > a, #wb_element_instance50 li:focus > a { border: 0px none #000000; font: normal bold 12px IBM Plex Sans,sans-serif; text-decoration: underline; color: #ffffff; line-height: 14px; background: transparent none no-repeat center bottom; }
#wb_element_instance50 li.active > a { border: 0px none #000000; font: normal bold 12px IBM Plex Sans,sans-serif; text-decoration: underline; color: #ffffff; line-height: 14px; background: transparent none no-repeat center bottom; }
#wb_element_instance50:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance50:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance50:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance51 { top: 30px; left: -20px; min-width: 270px; width: 270px; min-height: 95px; height: 95px; display: block; z-index: 404; }
#wb_element_instance51 img { width: 270px; height: 95px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance52 { top: -10px; left: 0; right: 0; min-height: 140px; height: 140px; display: block; z-index: 351; }
#wb_element_instance52 > .wb_shp { display: block; background-color: #333333; border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 140px; }
#wb_element_instance52 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance53 { top: 10px; left: 10px; min-width: 280px; width: 280px; min-height: 75px; height: 75px; display: block; z-index: 423; }
#wb_element_instance54 { top: 0px; left: 0; right: 0; min-height: 90px; height: 90px; display: block; z-index: 243; }
#wb_element_instance54 > .wb_shp { display: block; background-color: rgba(51, 51, 51, 1); border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 90px; }
#wb_element_instance54 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance55 { top: 170px; left: 95px; min-width: 1024px; width: 1024px; min-height: 125px; height: 125px; display: block; z-index: 149; }
#wb_element_instance56 { top: 440px; left: 87px; min-width: 470px; width: 470px; min-height: 100px; height: 100px; display: block; z-index: 191; }
#wb_element_instance57 { top: 390px; left: 87px; min-width: 470px; width: 470px; min-height: 26px; height: 26px; display: block; z-index: 207; }
#wb_element_instance58 { top: 60px; left: 60px; min-width: 1100px; width: 1100px; min-height: 77px; height: 77px; display: block; z-index: 147; }
#wb_element_instance59 { top: 440px; left: 656px; min-width: 470px; width: 470px; min-height: 100px; height: 100px; display: block; z-index: 193; }
#wb_element_instance60 { top: 390px; left: 656px; min-width: 470px; width: 470px; min-height: 26px; height: 26px; display: block; z-index: 209; }
#wb_element_instance61 { top: 668px; left: 87px; min-width: 470px; width: 470px; min-height: 150px; height: 150px; display: block; z-index: 194; }
#wb_element_instance62 { top: 618px; left: 87px; min-width: 470px; width: 470px; min-height: 26px; height: 26px; display: block; z-index: 210; }
#wb_element_instance63 { top: 668px; left: 656px; min-width: 470px; width: 470px; min-height: 150px; height: 150px; display: block; z-index: 195; }
#wb_element_instance64 { top: 618px; left: 656px; min-width: 470px; width: 470px; min-height: 26px; height: 26px; display: block; z-index: 211; }
#wb_element_instance65 { top: 416px; left: 288px; min-width: 65px; width: 65px; min-height: 17px; height: 17px; display: block; z-index: 212; }
#wb_element_instance66 { top: 416px; left: 858px; min-width: 65px; width: 65px; min-height: 17px; height: 17px; display: block; z-index: 214; }
#wb_element_instance67 { top: 640px; left: 858px; min-width: 65px; width: 65px; min-height: 17px; height: 17px; display: block; z-index: 216; }
#wb_element_instance68 { top: 640px; left: 288px; min-width: 65px; width: 65px; min-height: 17px; height: 17px; display: block; z-index: 215; }
#wb_element_instance69 i { width: 35px; height: 35px; font-size: 35px; }
#wb_element_instance69 { top: 15px; left: 1155px; min-width: 35px; width: 35px; min-height: 35px; height: 35px; display: block; z-index: 303; }
#wb_element_instance70 { top: 75px; left: 932px; min-width: 268px; width: 268px; min-height: 25px; height: 25px; display: block; z-index: 373; }
#wb_element_instance71 { top: 10px; left: 320px; min-width: 320px; width: 320px; min-height: 100px; height: 100px; display: block; z-index: 406; }
#wb_element_instance72 { top: 0px; left: 0; right: 0; min-height: 120px; height: 120px; display: block; z-index: 240; }
#wb_element_instance72 > .wb_shp { display: block; background-color: rgba(51, 51, 51, 1); border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 120px; }
#wb_element_instance72 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance73 { top: 140px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance51 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance53 p:last-child { margin-bottom: 0; }
#wb_element_instance53 { opacity: 1; }
#wb_element_instance55 p:last-child { margin-bottom: 0; }
#wb_element_instance55 { opacity: 1; }
#wb_element_instance56 p:last-child { margin-bottom: 0; }
#wb_element_instance56 { opacity: 1; }
#wb_element_instance57 p:last-child { margin-bottom: 0; }
#wb_element_instance57 { opacity: 1; }
#wb_element_instance58 p:last-child { margin-bottom: 0; }
#wb_element_instance58 { opacity: 1; }
#wb_element_instance59 p:last-child { margin-bottom: 0; }
#wb_element_instance59 { opacity: 1; }
#wb_element_instance60 p:last-child { margin-bottom: 0; }
#wb_element_instance60 { opacity: 1; }
#wb_element_instance61 p:last-child { margin-bottom: 0; }
#wb_element_instance61 { opacity: 1; }
#wb_element_instance62 p:last-child { margin-bottom: 0; }
#wb_element_instance62 { opacity: 1; }
#wb_element_instance63 p:last-child { margin-bottom: 0; }
#wb_element_instance63 { opacity: 1; }
#wb_element_instance64 p:last-child { margin-bottom: 0; }
#wb_element_instance64 { opacity: 1; }
#wb_element_instance65 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 7px solid #6e7175;; }
#wb_element_instance66 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 7px solid #6e7175;; }
#wb_element_instance67 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 7px solid #6e7175;; }
#wb_element_instance68 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 7px solid #6e7175;; }
#wb_element_instance69 { opacity: 1; }
#wb_element_instance69 i { position: absolute; left: 0px; top: 0px; text-align: center; }
#wb_element_instance70 p:last-child { margin-bottom: 0; }
#wb_element_instance70 { opacity: 1; }
#wb_element_instance71 p:last-child { margin-bottom: 0; }
#wb_element_instance71 { opacity: 1; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
