
#wb_header { height: 130px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 420px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat-x left top; background-size: auto auto; }
#wb_footer { height: 100px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent url("gallery/vintage_footer.jpg") repeat scroll left top; }
html { scroll-behavior: smooth; }
body { background-color: #ffffff; }
body.site:before { background: transparent none no-repeat scroll center top; background-size: auto auto; opacity: 1; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 1200px; min-height: 650px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 650px; min-height: 650px; }
#wb_element_instance74 { top: 40px; left: 560px; min-width: 600px; width: 600px; min-height: 54px; height: 54px; display: block; z-index: 621; }
#wb_element_instance74 > ul { display: block; }
#wb_element_instance74 ul { background: transparent none repeat left top; border: 1px none #000000; }
#wb_element_instance74, #wb_element_instance74 ul { text-align: right; }
#wb_element_instance74 ul ul { background: #173963 none repeat left top; }
#wb_element_instance74 li { margin: 10px 0px 10px 0px; }
#wb_element_instance74 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 12px IBM Plex Sans,sans-serif; text-decoration: none; color: #ffffff; line-height: 14px; background: transparent none repeat left top; }
#wb_element_instance74 li.over > a, #wb_element_instance74 li:focus > a { border: 0px none #000000; font: normal bold 12px IBM Plex Sans,sans-serif; text-decoration: underline; color: #ffffff; line-height: 14px; background: transparent none no-repeat center bottom; }
#wb_element_instance74 li.active > a { border: 0px none #000000; font: normal bold 12px IBM Plex Sans,sans-serif; text-decoration: underline; color: #ffffff; line-height: 14px; background: transparent none no-repeat center bottom; }
#wb_element_instance74:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance74:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance74:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance75 { top: 30px; left: -20px; min-width: 270px; width: 270px; min-height: 95px; height: 95px; display: block; z-index: 404; }
#wb_element_instance75 img { width: 270px; height: 95px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance76 { top: -10px; left: 0; right: 0; min-height: 140px; height: 140px; display: block; z-index: 351; }
#wb_element_instance76 > .wb_shp { display: block; background-color: #333333; border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 140px; }
#wb_element_instance76 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance77 { top: 0px; left: 0; right: 0; min-height: 90px; height: 90px; display: block; z-index: 243; }
#wb_element_instance77 > .wb_shp { display: block; background-color: rgba(51, 51, 51, 1); border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 90px; }
#wb_element_instance77 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance78 { top: 50px; left: 50px; min-width: 1090px; width: 1090px; min-height: 77px; height: 77px; display: block; z-index: 118; }
#wb_element_instance79 form .form-area-field { height: 32px; }
#wb_element_instance79 { top: 160px; left: 400px; min-width: 740px; width: 740px; min-height: 260px; height: 260px; display: block; z-index: 119; }
#wb_element_instance80 { top: 160px; left: 50px; min-width: 305px; width: 305px; min-height: 100px; height: 100px; display: block; z-index: 219; }
#wb_element_instance81 i { width: 35px; height: 35px; font-size: 35px; }
#wb_element_instance81 { top: 10px; left: 1160px; min-width: 35px; width: 35px; min-height: 35px; height: 35px; display: block; z-index: 301; }
#wb_element_instance82 { top: 61px; left: 930px; min-width: 268px; width: 268px; min-height: 25px; height: 25px; display: block; z-index: 371; }
#wb_element_instance83 { top: 12px; left: 10px; min-width: 280px; width: 280px; min-height: 75px; height: 75px; display: block; z-index: 417; }
#wb_element_instance84 { top: 12px; left: 320px; min-width: 320px; width: 320px; min-height: 100px; height: 100px; display: block; z-index: 406; }
#wb_element_instance85 { top: 33px; left: 0; right: 0; min-height: 87px; height: 87px; display: block; z-index: 238; }
#wb_element_instance85 > .wb_shp { display: block; background-color: rgba(51, 51, 51, 1); border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 87px; }
#wb_element_instance85 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance86 { top: 140px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance75 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance78 p:last-child { margin-bottom: 0; }
#wb_element_instance78 { opacity: 1; }
#wb_element_instance79 form td { text-align: right; }
#wb_element_instance79 form tr.area-row > th { height: 1%; }
#wb_element_instance79 form tr.area-row > td { height: 1%; }
#wb_element_instance79 form tr.form-footer > td { height: 20px; }
#wb_element_instance80 p:last-child { margin-bottom: 0; }
#wb_element_instance80 { opacity: 1; }
#wb_element_instance81 { opacity: 1; }
#wb_element_instance81 i { position: absolute; left: 0px; top: 0px; text-align: center; }
#wb_element_instance82 p:last-child { margin-bottom: 0; }
#wb_element_instance82 { opacity: 1; }
#wb_element_instance83 p:last-child { margin-bottom: 0; }
#wb_element_instance83 { opacity: 1; }
#wb_element_instance84 p:last-child { margin-bottom: 0; }
#wb_element_instance84 { opacity: 1; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
