
#wb_header { height: 130px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
#wb_main { height: 630px; padding-bottom: 40px; }
#wb_main > .wb_cont_bg { background-color: #ffffff; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; opacity: 1; }
#wb_footer { height: 100px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent url("gallery/vintage_footer.jpg") repeat scroll left top; }
html { scroll-behavior: smooth; }
body { background-color: #ffffff; }
body.site:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 1200px; min-height: 860px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 860px; min-height: 860px; }
#wb_element_instance87 { top: 40px; left: 560px; min-width: 600px; width: 600px; min-height: 54px; height: 54px; display: block; z-index: 621; }
#wb_element_instance87 > ul { display: block; }
#wb_element_instance87 ul { background: transparent none repeat left top; border: 1px none #000000; }
#wb_element_instance87, #wb_element_instance87 ul { text-align: right; }
#wb_element_instance87 ul ul { background: #173963 none repeat left top; }
#wb_element_instance87 li { margin: 10px 0px 10px 0px; }
#wb_element_instance87 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 20px 10px 20px; font: normal bold 12px IBM Plex Sans,sans-serif; text-decoration: none; color: #ffffff; line-height: 14px; background: transparent none repeat left top; }
#wb_element_instance87 li.over > a, #wb_element_instance87 li:focus > a { border: 0px none #000000; font: normal bold 12px IBM Plex Sans,sans-serif; text-decoration: underline; color: #ffffff; line-height: 14px; background: transparent none no-repeat center bottom; }
#wb_element_instance87 li.active > a { border: 0px none #000000; font: normal bold 12px IBM Plex Sans,sans-serif; text-decoration: underline; color: #ffffff; line-height: 14px; background: transparent none no-repeat center bottom; }
#wb_element_instance87:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance87:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance87:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance88 { top: 30px; left: -20px; min-width: 270px; width: 270px; min-height: 95px; height: 95px; display: block; z-index: 404; }
#wb_element_instance88 img { width: 270px; height: 95px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance89 { top: -10px; left: 0; right: 0; min-height: 140px; height: 140px; display: block; z-index: 351; }
#wb_element_instance89 > .wb_shp { display: block; background-color: #333333; border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 140px; }
#wb_element_instance89 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance90 { top: 10px; left: 10px; min-width: 280px; width: 280px; min-height: 75px; height: 75px; display: block; z-index: 423; }
#wb_element_instance91 { top: 0px; left: 0; right: 0; min-height: 90px; height: 90px; display: block; z-index: 243; }
#wb_element_instance91 > .wb_shp { display: block; background-color: rgba(51, 51, 51, 1); border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 90px; }
#wb_element_instance91 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance92 { top: 160px; left: 98px; min-width: 1024px; width: 1024px; min-height: 25px; height: 25px; display: block; z-index: 151; }
#wb_element_instance93 { top: 440px; left: 109px; min-width: 265px; width: 265px; min-height: 100px; height: 100px; display: block; z-index: 193; }
#wb_element_instance94 { top: 380px; left: 10px; min-width: 470px; width: 470px; min-height: 26px; height: 26px; display: block; z-index: 209; }
#wb_element_instance95 { top: 70px; left: 60px; min-width: 1100px; width: 1100px; min-height: 77px; height: 77px; display: block; z-index: 149; }
#wb_element_instance96 { top: 406px; left: 212px; min-width: 65px; width: 65px; min-height: 17px; height: 17px; display: block; z-index: 214; }
#wb_element_instance97 { top: 230px; left: 105px; min-width: 270px; width: 270px; min-height: 141px; height: 141px; display: block; z-index: 219; overflow: hidden; }
#wb_element_instance97 img { width: 270px; height: 141.71631016043px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance98 { top: 230px; left: 470px; min-width: 261px; width: 261px; min-height: 146px; height: 146px; display: block; z-index: 221; }
#wb_element_instance98 img { width: 261px; height: 146px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance99 { top: 230px; left: 820px; min-width: 261px; width: 261px; min-height: 146px; height: 146px; display: block; z-index: 223; }
#wb_element_instance99 img { width: 261px; height: 146px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance100 { top: 406px; left: 577px; min-width: 65px; width: 65px; min-height: 17px; height: 17px; display: block; z-index: 216; }
#wb_element_instance101 { top: 380px; left: 375px; min-width: 470px; width: 470px; min-height: 26px; height: 26px; display: block; z-index: 211; }
#wb_element_instance102 { top: 440px; left: 467px; min-width: 263px; width: 263px; min-height: 150px; height: 150px; display: block; z-index: 195; }
#wb_element_instance103 { top: 406px; left: 932px; min-width: 65px; width: 65px; min-height: 17px; height: 17px; display: block; z-index: 218; }
#wb_element_instance104 { top: 380px; left: 770px; min-width: 390px; width: 390px; min-height: 26px; height: 26px; display: block; z-index: 213; }
#wb_element_instance105 { top: 440px; left: 820px; min-width: 263px; width: 263px; min-height: 100px; height: 100px; display: block; z-index: 197; }
#wb_element_instance106 i { width: 35px; height: 35px; font-size: 35px; }
#wb_element_instance106 { top: 11px; left: 1160px; min-width: 35px; width: 35px; min-height: 35px; height: 35px; display: block; z-index: 305; }
#wb_element_instance107 { top: 75px; left: 932px; min-width: 268px; width: 268px; min-height: 25px; height: 25px; display: block; z-index: 375; }
#wb_element_instance108 { top: 10px; left: 320px; min-width: 320px; width: 320px; min-height: 100px; height: 100px; display: block; z-index: 406; }
#wb_element_instance109 { top: 3px; left: 0; right: 0; min-height: 117px; height: 117px; display: block; z-index: 242; }
#wb_element_instance109 > .wb_shp { display: block; background-color: rgba(51, 51, 51, 1); border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 117px; }
#wb_element_instance109 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance110 { top: 140px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance88 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance90 p:last-child { margin-bottom: 0; }
#wb_element_instance90 { opacity: 1; }
#wb_element_instance92 p:last-child { margin-bottom: 0; }
#wb_element_instance92 { opacity: 1; }
#wb_element_instance93 p:last-child { margin-bottom: 0; }
#wb_element_instance93 { opacity: 1; }
#wb_element_instance94 p:last-child { margin-bottom: 0; }
#wb_element_instance94 { opacity: 1; }
#wb_element_instance95 p:last-child { margin-bottom: 0; }
#wb_element_instance95 { opacity: 1; }
#wb_element_instance96 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 7px solid #6e7175;; }
#wb_element_instance97 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; box-sizing: border-box; overflow: hidden; }
#wb_element_instance98 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; box-sizing: border-box; overflow: hidden; }
#wb_element_instance99 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; box-sizing: border-box; overflow: hidden; }
#wb_element_instance100 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 7px solid #6e7175;; }
#wb_element_instance101 p:last-child { margin-bottom: 0; }
#wb_element_instance101 { opacity: 1; }
#wb_element_instance102 p:last-child { margin-bottom: 0; }
#wb_element_instance102 { opacity: 1; }
#wb_element_instance103 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 7px solid #6e7175;; }
#wb_element_instance104 p:last-child { margin-bottom: 0; }
#wb_element_instance104 { opacity: 1; }
#wb_element_instance105 p:last-child { margin-bottom: 0; }
#wb_element_instance105 { opacity: 1; }
#wb_element_instance106 { opacity: 1; }
#wb_element_instance106 i { position: absolute; left: 0px; top: 0px; text-align: center; }
#wb_element_instance107 p:last-child { margin-bottom: 0; }
#wb_element_instance107 { opacity: 1; }
#wb_element_instance108 p:last-child { margin-bottom: 0; }
#wb_element_instance108 { opacity: 1; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
